<div class="wrapper">
  <div class="container">
    <div class="appTitle">Split Bill</div>
  </div>

  <app-input
    label="Bill Amount"
    id="billTotalInput"
    type="number"
    placeholder="0.00"
    [(value)]="billTotalInput"
    (blur)="calculateBill()"
  ></app-input>

  <app-input
    label="Tip Amount"
    id="tipInput"
    type="number"
    placeholder="0.00"
    [(value)]="tipInput"
    (blur)="calculateBill()"
  ></app-input>

  <app-input
    label="Total Amount"
    id="billTipTotal"
    type="number"
    placeholder="0.00"
    [(value)]="billTipTotal"
    [disabled]="true"
  ></app-input>

  <app-people-counter
    [(numberOfPeople)]="numberOfPeople"
    (numberOfPeopleChange)="calculateBill()"
  ></app-people-counter>

  <app-input
    label="Total Per Person"
    id="perPersonTotal"
    type="number"
    placeholder="0.00"
    [value]="perPersonTotal"
    [disabled]="true"
  ></app-input>
</div>
