/* You can add global styles to this file, and also import other style files */
* {
  font-family: "M PLUS Rounded 1c", Avenir Next, Helvetica, sans-serif;
  color: white;
}

body {
  background: #8990ec;
}


.container {
    margin-top: 1.4rem;
  }